{% extends 'base.html' %}

{% load static %}

{% block content %}
    <header>
        <img class="profilepng" src="{% static 'profile.png' %}" width="50" height="50">
        <div align="center">
            <h2>𓂃 𓈒𓏸𝐍𝐨𝐭𝐢𝐜𝐞𓈒 𓏸 𓐍</h2>
        </div>
        <a href="setting.html" class="setting-icon"><img src="{% static 'setting.png' %}" width="30" height="30" alt="Settings"></a>
    </header>

    <main>
        <div class="tweet">
            <img src="{% static 'profile.png' %}" width="50" height="50">
            <p>わたびー</p>
            <p>@watabi-dayo111</p>
            <p>?日</p>
            <p>ここにリプが表示されます。</p>
            <img src="{% static 'picture.png' %}">
            <p>💬 ♡</p>
        </div>
        <hr>
        <div class="tweet">
            <img src="{% static 'profile.png' %}" width="50" height="50">
            <p>モス</p>
            <p>@mosu2</p>
            <p>?日</p>
            <p>今週で日本終わるらしい。</p>
            <img src="{% static 'picture.png' %}">
            <p>💬 ♡</p>
        </div>
        <hr>
        <div class="tweet">
            <img src="{% static 'profile.png' %}" width="50" height="50">
            <p>わたなべ</p>
            <p>@watanabe-dayo0916</p>
            <p>?日</p>
            <p>ここにリプが表示されます。</p>
            <img src="{% static 'picture.png' %}">
            <p>💬 ♡</p>
        </div>
    </main>

{% endblock %}
