{% extends 'base.html' %}

{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ツイッタラー</title>
    <img src="header.png" width="300" height="100">
</head>

<body>
    <img src="profile.png" width="50" height="50">
    <input type="submit" id="submit_button" value="編集">
    <p>さな</p>
    <p>@iAH4mEY8EW70977</p>
    <p>模倣犯ですどうも。</p>
    <p>2023年10月からXを利用しています</p>
    <P>22フォロー中 300000フォロワー</P>
    <p>ポスト いいね</p>
    <hr>
    <img src="profile.png" width="50" height="50">
    <p>さな</p>
    <p>@iAH4mEY8EW70977</p>
    <p>2024/08/09</p>
    <p>ツイッター模倣してしてみたW</p>
    <img src="picture.png">

    <button type="button" class="btn btn-light">Light</button>


</body>
<footer>
    <div class="flex-container">
        <div class="flex-item"><a href="home.html"><img src="home.png" width="50" height="50"></a></div>
        <div class="flex-item"><a href="search.html"><img src="search.png" height="50" width="50"></a></div>
        <div class="flex-item"><a href="dm.html"><img src="dm.png" width="50" height="50"></a></div>
        <div class="flex-item"><a href="notice.html"><img src="notice.png" width="50" height="50"></a></div>
    </div>
</footer>
</html>