{% extends 'base.html' %}

{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ツイッタラー</title>
</head>

<body>
    <header>
        <img id = "profile-img" src="profile.png" width="50" height="50">
        <form action="search.html" method="get" class="search-form">
            <input type="search" name="search" placeholder="キーワードを入力">
            <input type="submit" name="submit" value="検索">
        </form>
        <a href="setting.html" class="setting-icon"><img src="setting.png" >
        </a>
    </header>
    <p>トレンド</p>
    <hr>
    <p>台風の進撃</p>
    <p>25115posts</p>
    <hr>
    <p>キキちゃん</p>
    <p>近畿地方のトレンド</p>
    <hr>
    <p>夏休み最終日</p>
    <p>18043posts</p>
    <p>人気の画像 トレンド</p>

    <footer>
        <div class="flex-container">
            <div class="flex-item"><a href="home.html"><img src="home.png" width="50" height="50"></a></div>
            <div class="flex-item"><a href="search.html"><img src="search.png" height="50" width="50"></a></div>
            <div class="flex-item"><a href="dm.html"><img src="dm.png" width="50" height="50"></a></div>
            <div class="flex-item"><a href="notice.html"><img src="notice.png" width="50" height="50"></a></div>
        </div>
    </footer>
</body>

</html>