{% extends 'base.html' %}

{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ツイッタラー</title>
</head>

<body>
    <header>
        <p>設定</p>
        <form action="search.html" method="get">
            <input type="search" name="search" placeholder="検索設定">
            <input type="submit" name="submit" value="検索">
    </header>
    <main>
        <br>
        <a href="accountsetting.html">アカウント</a>
        <hr>
        <a href="languagesetting.html">言語</a>
        <hr>
    </main>

    <footer>
        <div class="flex-container">
            <div class="flex-item"><a href="home.html"><img src="home.png" width="50" height="50"></a></div>
            <div class="flex-item"><a href="search.html"><img src="search.png" height="50" width="50"></a></div>
            <div class="flex-item"><a href="dm.html"><img src="dm.png" width="50" height="50"></a></div>
            <div class="flex-item"><a href="notice.html"><img src="notice.png" width="50" height="50"></a></div>
        </div>
    </footer>
</body>

</html>