{% extends 'base.html' %}

{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tui-to.html</title>

</head>
<header>
    <a href="home.html">キャンセル</a>
    <button type="button" div id="post">ポスト</button>
    <div>
</header>

<body>
    <img src="profile.png" width="50" height="50">

<form>
    <textarea name="4" cols="180" rows="50"></textarea>
</form>
<div>
    <label for="formFileLg" class="form-label"></label>
    <input class="form-control form-control-lg" id="formFileLg" type="file">
</div>

</body>

</html>