{% extends 'base.html' %}

{% load static %}
{% block name %}𝐌𝐲 𝐏𝐫𝐨𝐟𝐢𝐥𝐞{% endblock %}
{% block header %}
<a href="{% url 'tyuwitterapp2:index' %}"><div class="title"><h3>𝐓𝐮𝐰𝐢𝐭𝐭𝐞𝐫</h3></div></a>
        <a href="{% url 'tyuwitterapp2:profile' %}"><img class="profilepng" src="{% static 'img/profile.png' %}" width="50" height="50" alt="Profile Image"></a>
{% endblock %}

{% block content %}
<div class="profile">
    <img src="{% static 'img/profile.png' %}" width="50" height="50" alt="Profile Image">
    {% if user.is_authenticated %}
    <a href="{% url 'tyuwitterapp2:upload_icon' user.pk %}">アイコンを編集</a>
    {% endif %}

    <!--<input type="submit" id="submit_button" value="編集">-->
    <strong><p>{{ user.username }}</p></strong>
    <p>{{ user.email }}</p>
    <p>{{ user.profile.bio }}</p>
    <p>𝐔𝐬𝐢𝐧𝐠 𝐓𝐲𝐮𝐰𝐢𝐭𝐭𝐞𝐫 𝐟𝐫𝐨𝐦 {{ date_joined|date:"Y年m月d日" }}𝐝𝐚𝐭𝐞.</p>
    <p>{{ user.profile.following_count }}フォロー中 {{ user.profile.follower_count }}フォロワー</p>
    <p>ポスト {{ user.profile.post_count }} いいね {{ user.profile.like_count }}</p>
    <hr>
</div>

{% endblock %}