{% extends 'base.html' %}
{% load static %}
{% block header %}
<a href="{% url 'tyuwitterapp2:index' %}"><div class="title"><h3>𝐓𝐮𝐰𝐢𝐭𝐭𝐞𝐫</h3></div></a>
        <a href="{% url 'tyuwitterapp2:profile' %}"><img class="profilepng" src="{% static 'img/profile.png' %}" width="50" height="50" alt="Profile Image"></a>
    {% endblock %}
    {% block name %}𝐃𝐌{% endblock %}
    {% block content %}
        <img src="{% static 'img\profile.png' %}" width="50" height="50" alt="Profile Image">
        <div>
        </div>
    </div>


    <hr>
{% endblock %}
