{% extends 'base.html' %}
{% load static %}
{% block name %}𝐑𝐞𝐜𝐨𝐦𝐦𝐞𝐧𝐝{% endblock %}
{% block content %}
        {% for record in orderby_records %}

        𝐮𝐬𝐞𝐫:{{record.user.username}}
        <br>
        𝐩𝐨𝐬𝐭𝐞𝐝_𝐚𝐭:{{record.posted_at}}<a href="{% url 'tyuwitterapp2:detail' record.pk %}">𝐝𝐞𝐭𝐚𝐢𝐥</a>
        <p>{{ record.content }}</p>
        <hr>
        {% endfor %}
    {% if user.is_authenticated %}
    <a href="{% url 'tyuwitterapp2:post' %}"><button type="button" class="btn btn-light">𝐓𝐲𝐮𝐰𝐞𝐞𝐭</button></a>
    {% else %}
    {% endif %}

    <hr>
{% endblock %}
