#ツイート詳細ページ
{% extends "base.html" %}
{% load static %}


{% block header %}
<a href="{% url 'tyuwitterapp2:index' %}"><div class="title"><h3>𝐓𝐮𝐰𝐢𝐭𝐭𝐞𝐫</h3></div></a>
        <a href="{% url 'tyuwitterapp2:profile' %}"><img class="profilepng" src="{% static 'img/profile.png' %}" width="50" height="50" alt="Profile Image"></a>
{% endblock %}
{% block name %}𝐃𝐞𝐭𝐚𝐢𝐥{% endblock %}
{% block content %}
    <p><strong>𝐏𝐨𝐬𝐭𝐞𝐝 𝐔𝐬𝐞𝐫:</strong>{{post.user.username}}</p>
    <p><strong>𝐏𝐨𝐬𝐭𝐞𝐝 𝐚𝐭:</strong> {{ post.posted_at }}</p>
    <p>{{post.content}}</p>
    <hr>
    <br>
    {% for comment in comments %}
    <div>
        <p><strong>{{ comment.user.username }}</strong>: {{ comment.content }}</p>
        <p style="font-size: small; color: gray;">{{ comment.created_at }}</p>
    </div>
{% empty %}
    <p>コメントはまだありません。</p>
{% endfor %}

<hr>

<h3>コメントを投稿</h3>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">コメントする</button>
</form>
    <a href="{% url 'tyuwitterapp2:index' %}" class="btn btn-primary">Back to Tyuwitter</a>
<hr>
    </a>

<footer>
    <p>&copy; 2025 Tyuwitter</p>
</footer>
{% endblock %}
