{% extends 'base.html' %}

{% load static %}
{% block header %}
    <a href="{% url 'tyuwitterapp2:index' %}">
        <div class="title"><h3>𝐓𝐮𝐰𝐢𝐭𝐭𝐞𝐫</h3></div>
    </a>
    <a href="{% url 'tyuwitterapp2:profile' %}">
        <img class="profilepng" src="{% static 'img/profile.png' %}" width="50" height="50" alt="プロフィール画像">
    </a>
{% endblock %}
{% block name %}𝐒𝐞𝐚𝐫𝐜𝐡{% endblock %}
    {% block content %}
        <!-- 検索ボックス -->
        <form action="{% url 'tyuwitterapp2:search_results' %}" method="get">
            <input type="text" name="q" placeholder="検索..." required>
            <button type="submit">検索</button>
        </form>
    <!---<div class="search-results">
        <h2>検索結果</h2>
        {%if results %}
            <ul>
                {% for result in results %}
                    <li>
                        <a href="{% url 'tyuwitterapp2:post' result.id %}">
                            <p>{{ result.content }}</p>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>検索結果はありませんでした😿</p>
        {% endif %}
    </div>--->


{% endblock %}