<!doctype html>
<html lang="ja">

<head>
    <style>
        .pad {
            background-color: lavender;
            border: solid 2px;
            padding-top: 30px;
            padding-bottom: 50px;
            padding-left: 100px;
            margin-top: 50px;
            margin-right: 70px;
            margin-left: 70px;
        }
    </style>
</head>

<body>
    <div class="pad">
        <h2>𝐘𝐨𝐮𝐫 𝐩𝐚𝐬𝐬𝐰𝐨𝐫𝐝 𝐡𝐚𝐬 𝐛𝐞𝐞𝐧 𝐫𝐞𝐬𝐞𝐭.</h2>
        <p>
        𝐘𝐨𝐮 𝐦𝐚𝐲 𝐠𝐨 𝐚𝐡𝐞𝐚𝐝 𝐚𝐧𝐝 𝐥𝐨𝐠𝐢𝐧
        </p>
        <br>
        <!-- トップページへのリンク-->
        <a href="{% url 'tyuwitterapp2:index' %}">𝐇𝐨𝐦𝐞</a>


    </div>
</body>

</html>