@charset "utf-8";

/* 基本フォントサイズを設定 */
body {
    font-size: 18px;
}

/* 背景色を設定 */
body {
    background-color: #c1bec4; /* 明るい背景色 */
}

/* ヘッダーのスタイル */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #8c8294; /* ヘッダーの背景色 */
    height: 100px;
     /* ヘッダー内の上下の余白 */
}



.Recommend{
    text-align: center;
}

.title{
    position: absolute;
    left: 55px; /* 左端に配置 */
    top: -10; /* 垂直方向で画面中央に配置 */
    height: 35px;
}
.title h3{
    margin: 0;
}

.setting-icon{
    position: absolute;
    right: 10px;
    margin-top:1px !important;
}


.profilepng {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0 !important; /* 既存のマージンをリセット */
}







/* リンクのスタイル */
a {
    color: black; /* 通常のリンクの色 */
}

a:visited {
    color: #405173; /* 訪問済みリンクの色 */
}

/* リンクのホバー時のスタイル */
a:hover {
    color: #405173; /* ホバー時の色 */
    font-weight: bold; /* ホバー時に太字 */
    text-decoration: none; /* 下線を消す */
}

/* フレックスボックスのコンテナ */
.flex-container {
    display: flex; /* フレックスボックスを有効化 */
}

/* フレックスアイテムのスタイル */
.flex-item {
    margin: auto; /* 自動マージンで中央揃え */
}

/* 名前表示のスタイル */
.name span {
    margin-left: auto; /* 自動マージンで右寄せ */
}

/* 投稿ボタンの位置 */
header #post {
    float: right; /* 右に浮かせる */
    margin: -50px 0 0; /* 上にマージンを追加 */
}

/* ツイートボタンのスタイル */
.btn {
    background-color: #564458; /* ツイートボタンの背景色 (Twitterのブランド色) */
    color: white; /* テキストの色 */
    border: none; /* ボーダーなし */
    border-radius: 5px; /* 角を丸くする */
    padding: 10px 15px; /* ボタンの内側にパディング */
    cursor: pointer; /* カーソルをポインターに */
    transition: background-color 0.3s, transform 0.2s; /* ホバー時のエフェクトを設定 */
}

/* ホバー時のツイートボタンのスタイル */
.btn:hover {
    background-color: #333346; /* ホバー時の背景色 */
    transform: scale(1.05); /* ホバー時に少し大きくする */
}

.tweet-header {
    display: flex; /* フレックスボックスを使う */
    align-items: center; /* 垂直方向に中央揃え */
}

.tweet-header img{
    margin-right: 10px;
}

.tweet-info {
    margin-left: 10px; /* 画像とテキストの間にスペースを追加 */
}

.tweet-info p {
    margin: 0; /* 上下のマージンをゼロにする */
    line-height: 1.2; /* 行の高さを調整して余白を少なくする */
}

.like-button {
    background-color: transparent; /* 背景を透明に */
    border: none; /* ボーダーをなしに */
    font-size: 24px; /* サイズ調整 */
    cursor: pointer; /* カーソルをポインターに */
    color: #1DA1F2; /* ツイッターの青 */
    transition: color 0.3s; /* ホバー時の色変更をスムーズに */
}

.like-button:hover {
    color: #e0245e; /* ホバー時に赤に変更 */
}

.comment-button{
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #1DA1F2;
    transition: color 0.3s;
}

.comment-button:hover{
    color: #e0245e;
}

.search-form{
    position: absolute;/*絶対位置を使用*/
    top: 30px;/*上からの位置*/
    right: 100px;/*右からの距離*/
}

.search-form input[type="submit"]{
    padding: 0px 10px;/*内側の余白*/
    margin-left: 5px;/*検索ボックスとの間に余白*/
}
