{% extends 'base.html' %}
{% load static %}
{% block name %}𝐏𝐚𝐬𝐬𝐰𝐨𝐫𝐝 𝐑𝐞𝐬𝐞𝐭{% endblock %}
{% block title %}Send password reset{% endblock %}

{% block content %}
<hr>
<div class="container">
    <div class="row">
        <div class="col offset-2 py-4">
            <h3>𝐖𝐞 𝐡𝐚𝐯𝐞 𝐬𝐞𝐧𝐭 𝐲𝐨𝐮 𝐚𝐧 𝐞𝐦𝐚𝐢𝐥 𝐰𝐢𝐭𝐡 𝐢𝐧𝐬𝐭𝐫𝐮𝐜𝐭𝐢𝐨𝐧𝐬 𝐭𝐨 𝐫𝐞𝐬𝐞𝐭 𝐲𝐨𝐮𝐫 𝐩𝐚𝐬𝐬𝐰𝐨𝐫𝐝. 𝐘𝐨𝐮 𝐰𝐢𝐥𝐥 𝐫𝐞𝐜𝐞𝐢𝐯𝐞 𝐭𝐡𝐞 𝐞𝐦𝐚𝐢𝐥 𝐢𝐦𝐦𝐞𝐝𝐢𝐚𝐭𝐞𝐥𝐲.</h3>
            <br>
            <h5>
                𝐈𝐟 𝐲𝐨𝐮 𝐝𝐨 𝐧𝐨𝐭 𝐫𝐞𝐜𝐞𝐢𝐯𝐞 𝐚𝐧 𝐞𝐦𝐚𝐢𝐥, 𝐩𝐥𝐞𝐚𝐬𝐞 𝐜𝐡𝐞𝐜𝐤 𝐢𝐟 𝐢𝐭 𝐢𝐬 𝐚 𝐫𝐞𝐠𝐢𝐬𝐭𝐞𝐫𝐞𝐝 𝐞𝐦𝐚𝐢𝐥 𝐚𝐝𝐝𝐫𝐞𝐬𝐬.
𝐏𝐥𝐞𝐚𝐬𝐞 𝐜𝐡𝐞𝐜𝐤 𝐲𝐨𝐮𝐫 𝐬𝐩𝐚𝐦 𝐟𝐨𝐥𝐝𝐞𝐫 𝐚𝐬 𝐰𝐞𝐥𝐥.</h5>
            <br>
            <!-- トップページへのリンク-->
            <a href="{% url 'tyuwitterapp2:index' %}">𝐇𝐨𝐦𝐞</a>
        </div>
    </div>
</div>
{% endblock %}